button {
  cursor: pointer;
}
.sigin_screen {
  display: flex;
  transform: scale(1.14);
  flex-direction: column;
  align-items: center;
  margin: 4.25rem auto;
  max-width: 600px;
}
.welcome_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome_heading > h3 {
  font-weight: 400;
  margin-top: 10px;
}
.walmart_logo {
  max-width: 50px;
}
.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.user_info > input {
  padding: 20px 20px;
  border: 1px solid rgb(82, 82, 82, 0.4);
  margin-top: 15px;
  width: 100%;
}
.forgot {
  text-align: right;
  margin: 20px 0px;
}
#submit_button {
  width: 100%;
  color: white;
  border: none;
  padding: 10px;
  background-color: #0065ff;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 15px;
}
#submit_button:hover {
  background-color: #7fb2ff;
}
#new_account {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 20px;
}
#new_account:hover {
  background-color: black;
  color: white;
}
#check_rem {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sign_in_link {
  margin: 20px 0px;
}
.sign_in_link > h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
#note {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
}
input {
  outline: none;
}
@media (max-width: 500px) {
  .sigin_screen {
    transform: scale(1);
  }
  .welcome_heading {
    flex-direction: column;
  }
}
