.product_container{
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    justify-content: space-around;
    min-width:380px;
    max-width: 380px;
    margin: 0.625rem ;
    min-height: 400px;
    padding: 1rem;
    transition: 0.3s ease all;
}
.product_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_image>img{
    max-height: 200px;
    width: auto;
}
.brand_info{
    font-size: 0.85rem;
}

.brand_info  >p {
    font-size: 0.7rem;
    color: rgb(46, 33, 33);
}
.more_info{
    font-size: 0.5rem;
}
.product_image{
    position: relative;
}
.more_info>button {

  border-radius: 0.1rem;
  border: 1px solid lightgrey;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  background-color: white;
}
.more_info>button:hover {
    background-color: black;
    color: white;
}
.price {
    font-weight: 800;
}
@media (max-width:500px){

    .product_container{
       min-width: 100vw;
       margin: 0px;
    }

}