
body{

  background-color: #eee;
}
.btn{
  padding: 1rem 2rem;
  background: none;
  margin: 1rem 0rem;
}
.btn-light{
  background-color: transparent;
  border: 1px solid #eee;
  color: white;
}
.btn-light:hover{
  background-color: #eee;
  color: #041e42;
}
.btn-dark{
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}
@media (max-width:1200px){
 body{
  
   margin: 0px;
 }
  
}