*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline:none; 
    font-size: 1rem ;
    transition: 0.5s ease all;
}
::root{
 --darkBorder : #000000 ;
 --lightBorder : #eee ;
 --lighterBorder: white ;
 --lightColor : #eee ;
 --lighterColor : white ;
 --darkColor : #000000;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
